.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  text-decoration: none;
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    display: flex;
    gap: 2rem;

    .card-text {
      margin-bottom: 0;
      font-family: "Inika";
    }
    .card_bottom_right {
      display: flex;
      flex-direction: column;

      .heart {
        padding: 1rem;
        border-radius: 5px;
        height: fit-content;
        background-color: #ddd;
        color: red;
      }
      .trash {
        padding: 1rem;
        border-radius: 5px;
        height: fit-content;
        background-color: #ddd;
        color: red;
        margin-top: 1rem;
      }
    }
  }
}
